<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.facebook.com/yael.nemer" target="_blank"><i
          class="fa-brands fa-facebook fa-beat fa-xl text-white"></i></a></li>
    <li class="list-group-item"><a href="https://www.instagram.com/_yael_magali_/" target="_blank"><i
          class="fa-brands fa-instagram fa-beat fa-xl text-white"></i></a></li>
    <li class="list-group-item"><a href="https://twitter.com/Yael__90" target="_blank"><i
          class="fa-brands fa-twitter fa-beat fa-xl text-white"></i></a></li>
    <li class="list-group-item"><a href="https://github.com/YaelNmr" target="_blank"><i
          class="fa-brands fa-github fa-beat fa-xl text-white"></i></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/yael-nemer-696b9a26a/" target="_blank"><i
          class="fa-brands fa-linkedin fa-beat fa-xl text-white"></i></a></li>
    <li class="list-group-item">
      <!-- Botón que me lleva al Login, y Botón de LogOut-->
      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </li>
  </ul>