/*Sección Educación*/
.card {
    margin: 10px 10px;
    border-style: solid;
    box-shadow: 10px 10px #888181;
  }
          /*Fin sección educación*/

.certificados {
  max-width: 700px;
  margin: 0 auto;
}

.certificado img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.certificado-yoprogramo {
  border: 1px solid #888181;
}