<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="col-md-4 card-container">
                    <div class="card front">
                    <img [src]="" alt="logo" class="card-img-top img-fluid">
                    <label for="imagen" class="form-label">Imagen/Logo(máx 550x366px)</label>
                    <input class="form-control" type="file" id="imagen">
                    <div class="card-block">
                        <label for="institucion"><p class="card-title">Nombre de la Institución</p></label>
                        <input type="text" class="form-control" id="institucion" [(ngModel)]="institucion" name="institucion" required>
                        <label for="titulo"><p>Título</p></label>
                        <input type="text" class="form-control" id="titulo" [(ngModel)]="titulo" name="titulo" required>
                        <label for="inicio" for="inicio"><p class="card-text">Fecha Inicio</p></label>
                        <input type="text" class="form-control" id="inicio" [(ngModel)]="inicio" name="inicio" required>
                        <label for="fin" for="fin"><p class="card-text">Fecha Finalización</p></label>
                        <input type="text" class="form-control" id="fin" [(ngModel)]="fin" name="fin" required>
                    </div>
                      <button class="btn btn-primary">Guardar</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>
