/*Sección Proyectos*/
.cuadro-proyecto{
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .card {
    margin: 10px 10px;
    border-style: solid;
    box-shadow: 10px 10px #888181;
  }
       /*Fin seccion proyectos*/


/*Galeria*/
.galeria-proyecto img {
  display: block;
  width: 100%;
  max-width: 380px;
  height: 220px;
  object-fit: contain;
  margin: 0 auto;
  border: 1px solid #888181;
}