<!--Sección Proyectos-->
<section class="proyectos mt-4">
    <div class="container">
      <h1 class="text-center"><strong>Proyectos</strong></h1>
      <div class="cuadro-proyecto" *ngFor="let proyecto of proyectos" >
        <div class="card text-bg-dark mb-3" style="width: 18rem;">
          <img [src]="proyecto.img" class="card-img-top" alt="proyecto">
          <div class="card-body">
            <h5 class="card-title">{{proyecto.nombre}}</h5>
            <p class="card-text">{{proyecto.descripcion}}</p>
            <a href="https://github.com/YaelNmr/ProyectoFinal.git" target="_blank" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </section>