<!--Sección Experiencia Laboral-->
<section class="experiencia mt-4">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><strong>Experiencia Laboral</strong></h2>
        <div class="col-lg-12">
          <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">Agregar Experiencia</button>
        </div>
        <div class="col-md-4 card-container" *ngFor="let experiencia of experiencias">
          <div class="card front">
            <img [src]="experiencia.imagen" alt="img" class="card-img-top img-fluid">
            <div class="card-block">
              <h4 class="card-title"><strong>{{experiencia.nombre}}</strong>
                <h6>{{experiencia.inicioyFin}}</h6>
              </h4>
              <p class="card-text"><strong>{{experiencia.puesto}}</strong>: {{experiencia.descripcion}}</p>
            </div>
          </div>
          <button class="btn btn-info" routerLink="/editexp/{{experiencia.id}}" *ngIf="isLogged"><i class="fa-solid fa-pencil fa-xl"></i></button> 
          <button class="btn btn-danger" (click)="delete(experiencia.id)" *ngIf="isLogged"><i class="fa-solid fa-trash fa-xl"></i></button>  
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr>
<!--En la maqueta estática solo tenía 3 cards porque había puesto dos experiencias en una card y 2 experiencias en otra.
  Ahora son 5 cards porque me trae las 5 id, uno por cada experiencia-->