<!--Sección Habilidades-->
<section class="idiomas">
  <div class="container text-center">
    <h2><strong>Idiomas</strong></h2>
    <ul>
      <li>Español Argentino (Nativo)</li>
      <li>Inglés (B1)</li>
    </ul>
  </div>
</section>
<br>
<h2 class="barras text-center"><strong>Mis Habilidades</strong></h2>
<h3 class="lenguajes text-center">Lenguajes y Herramientas aprendidos en #YoProgramo.</h3>
<div class="col-lg-2">
  <button type="button" class="btn btn-dark" routerLink="/newhab" *ngIf="isLogged">Nueva Habilidad</button>
</div>
<section class="habilidades mt-4 text-center">
  <div class="row col-mt-4">
    <div class="progress-circle-container col-sm" *ngFor="let habilidad of habilidades">
      <div class="progress-circle progress-{{habilidad.porcentaje}}"><span>{{habilidad.nombre}}</span></div> 
      <button class="btn btn-success" routerLink="/edithab/{{habilidad.id}}" *ngIf="isLogged"><i class="fa-solid fa-pencil fa-xs"></i></button> 
      <button class="btn btn-danger" (click)="delete(habilidad.id)" *ngIf="isLogged"><i class="fa-solid fa-trash fa-xs"></i></button>         
    </div>
  </div>
</section> 
  <hr>