<!--Sección Habilidades-->
<h1 class="barras text-center"><strong>Mis Habilidades</strong></h1><br>
<h3 class="lenguajes text-center">Lenguajes y Herramientas aprendidos en #YoProgramo. - Idiomas.</h3>
<section class="habilidades mt-4 text-center">
  <div class="row col-mt-4">
    <div class="progress-circle-container col-sm" *ngFor="let habilidades of habilidades">
      <div class="progress-circle progress-{{habilidades.porcentaje}}"><span>{{habilidades.nombre}}</span></div> 
    </div>
  </div>
</section> 
  <hr>