<div class="container">
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="row">
                <div class="progress-circle-container col-6 my-3"> 
                  <label for="habilidad" class="form-label">Nueva Habilidad</label>
                  <input type="text" class="form-control" id="habilidad" [(ngModel)]="nombre" name="nombre" required >
                  <label for="porcentaje" class="form-label">Porcentaje</label>
                  <input type="text" class="form-control" id="porcentaje" [(ngModel)]="porcentaje" name="porcentaje" required >
                  <button class="btn btn-primary">Guardar</button>
                </div>
              </div>         
        </form>
    </div>
</div>